<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{{ page.title }}{% endblock %} &mdash; {{ site.title }} &mdash; {{ site.subtitle }}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block meta_ogp %}
            <meta property="og:type" content="website" />
            <meta property="og:url" content="{{site.url}}" />
            <meta property="og:title" content="{{site.title}}" />
            <meta property="og:description" content="{{site.subtitle}}" />
        {% endblock %}
        <meta property="og:image" content="{{site.url}}/media/logo.png" />
        {% block head_meta %}
            <link rel="alternate" type="application/atom+xml" href="{{ site.url }}/atom.xml" title="{{ site.title }} activity feed" />
        {% endblock %}
        {% block head_styles %}
        {% endblock %}
        {% block head_scripts %}
        {% endblock %}
    </head>
    <body>
        <div id="wrapper">
        <!-- Sidebar -->
        {% include "menu.html" %}
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="col-md-12">
                    <div class="row">
                        <h1>
                            <a href="#menu-toggle" class="btn btn-default btn-lg" id="menu-toggle">
                                <span class="glyphicon glyphicon-menu-hamburger"></span>
                            </a>
                            {{ site.title }}
                            {% if site.subtitle %} <small>{{ site.subtitle }}</small> {% endif %}
                        </h1>
                    </div>
                    <div class="row">
                        {% block content_wrapper %}{% block content %}{% endblock %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include "css.html" %}
    {% include "js.html" %}
    {% block scripts_after %}{% endblock %}
    </body>
</html>
