---
layout: default
title: Tag Archive
generator: [posts_tag_index, pagination]
pagination:
    provider: page.tag_posts
use:
    - posts_categories
---

{% block head_meta %}
    <link rel="alternate" type="application/atom+xml" href="{{ site.url }}/tags/{{ page.tag|url_encode(true) }}.xml" title="{{ site.title }} '{{ page.tag }}' tag feed" />
{% endblock %}

{% block title %}#{{ page.tag }} - {{ site.title }} {% endblock %}
{% block content %}
<h2>#{{ page.tag }}</h2>
{% for post in page.pagination.items %}
    <article>
        <header>
            <h2>
                <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
                {% if post.categories %}
                    <small>
                        {% for category in post.categories %}
                            <a href="{{ site.url }}/categories/{{ category|url_encode(true) }}">#{{ category }}</a>
                            {% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </small>
                {% endif %}
            </h2>
        </header>
        <div>
            {% include "breakpoint.html"%}
        </div>
        {% if post.tags %}
            {% for tag in post.tags %}
                <a href="{{ site.url }}/tags/{{ tag|url_encode(true) }}" class="badge">{{ tag }}</a>{% if not loop.last %}, {% endif %}
            {% endfor %}
        {% endif %}
    </article>
    Author:
    {% if post.author.name and post.author.url %}
        <a href="{{ post.author.url }}" rel="nofollow" target="_blank">{{ post.author.name }}</a>
    {% else %}
        <a href="{{ site.author.url }}" rel="nofollow" target="_blank">{{ site.author.name }}</a>
    {% endif %}
{% endfor %}
{% if page.pagination.previous_page or page.pagination.next_page %}
    <nav>
        <ul class="pagination">
            {% if page.pagination.previous_page %}
                <li>
                    <a href="{{ site.url }}{{ page.pagination.previous_page.url }}" aria-label="Newer posts">
                        <span aria-hidden="true">Newer posts &raquo;</span>
                    </a>
                </li>
            {% endif %}
            {% if page.pagination.next_page %}
                <li>
                    <a href="{{ site.url }}{{ page.pagination.next_page.url }}" aria-label="Older posts">
                        <span aria-hidden="true">&laquo; Older posts</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}

{% endblock content %}
