{% if site.services.facebook %}
<a href="https://facebook.com/{{site.services.facebook}}" target="_blank" title="Facebook"><i class="fa fa-facebook-square"></i></a>
{% endif %}
{% if site.services.medium %}
<a href="https://medium.com/@{{site.services.medium}}" target="_blank" title="Medium"><i class="fa fa-medium"></i></a>
{% endif %}
{% if site.services.twitter %}
<a href="https://twitter.com/{{site.services.twitter}}" target="_blank" title="Twitter"><i class="fa fa-twitter-square"></i></a>
{% endif %}
<a href="{{site.url}}/atom.xml" target="_blank" title="RSS feed"><i class="fa fa-rss-square"></i></a>
